.outerIntroduction {
  padding: 0rem 10rem;
  border-bottom: 1px solid var(--grey);
}

.outerIntroduction span {
  font-family: 'InconsolataBold', sans-serif;
  color: var(--span-text);
  margin-bottom: 1px;
}

.innerIntroduction {
  /* padding: 0rem 0rem 0rem 0rem; */
  /* border-color: var(--grey);
  border-style: solid;
  border-width: 0px 1px 0px 1px; */
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.outerFeatureText {
  background-image: url(/bg-pattern-slash.svg);
  padding: 0 10rem;
  text-align: center;
  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
}

.outerInnerText {
  border-color: var(--grey);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  text-align: center;
  background-color: var(--black);
}

.featuresSection {
  padding: 0rem 10rem;
}

.wrapperFeatures {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  padding: 0 10rem;
  background-image: url(/bg-pattern-slash.svg);
  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
}

.outerInnerText h2 {
  margin: 0;
  padding: 2rem 0;
  font-weight: 500;
  line-height: 1.5rem;
}

.outerFeature {
  border-style: solid;
  border-color: var(--grey);
  border-width: 0 1px 1px 1px;
  background-color: var(--black);
}

.outerFeature h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

.outerFeature p {
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.5;
  margin: 0;
}

.outerFeature + .outerFeature {
  border-left: 0;
}

.innerFeature {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.innerFeature img {
  flex: 1/4;
  min-height: 2rem;
  max-width: 100%;
}

@media (prefers-color-scheme: light) {
  .outerIntroduction {
    border-bottom: 1px solid var(--white);
  }
  .outerFeatureText,
  .wrapperFeatures {
    background-image: url(/bg-pattern-slash-light.svg);
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
  }
  .outerInnerText,
  .outerFeature {
    background-color: var(--main-bg-color-light);
    border-color: var(--white);
  }
}

@media (max-width: 1280px) {
  .featuresSection {
    padding: 0 6rem;
  }

  .outerIntroduction {
    padding: 0 6rem;
  }

  .outerFeatureText {
    padding: 0 6rem;
  }

  .wrapperFeatures {
    padding: 0 6rem;
  }
}

@media (max-width: 1024px) {
  .featuresSection {
    padding: 0 3rem;
  }

  .outerIntroduction {
    padding: 0 3rem;
  }

  .outerFeatureText {
    padding: 0 3rem;
  }

  .outerInnerText h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .wrapperFeatures {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .featuresSection {
    padding: 0 1.5rem;
  }

  .outerIntroduction {
    padding: 0 1.5rem;
  }

  .outerFeatureText {
    padding: 0 1.5rem;
  }

  .outerInnerText h2 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .wrapperFeatures {
    grid-template-columns: 1fr;
    padding: 0 1.5rem;
  }

  .outerFeature + .outerFeature {
    border-left-width: 1px;
    border-left-style: solid;
  }
}
