.panel {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.heading {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0 0.25rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 1rem;
  border-radius: 0;
  border: 1px solid var(--grey);
  background-color: var(--input-background-dark);
  font-size: 0.9rem;
  color: var(--white);
  transition: all 0.1s ease;
}

.input:focus {
  outline: 1px solid var(--main-bg-color-light);
  z-index: 1;
}

@media (prefers-color-scheme: light) {
  .heading {
    color: var(--black);
  }

  .input {
    background-color: var(--main-bg-color-light);
    color: var(--black);
    border-color: var(--grey);
  }
}
