.outerHero {
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
  justify-content: center;
  min-height: 100vh;
}

.introText {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 3.5rem;
}

.introText h1 {
  font-size: 4rem;
  font-weight: 400;
}

.introText span {
  font-family: 'InstrumentSerif', serif;
  color: var(--orange);
}

.heroImage {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 1;
  overflow: visible;
}

.heroImage img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  z-index: 2;
  color: white;
}
.overlay.topLeft {
  top: 20%;
  left: 15%;
}

.overlay.center {
  position: absolute;
  left: 50%;
  bottom: -20rem;
  transform: translateX(-50%);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  z-index: 5;

  display: grid;
  place-items: center;
}

.overlay.center img {
  max-width: 100%;
  max-height: 100%;
  width: 10rem;
  height: 10rem;
  display: block;
}

@media (max-width: 1024px) {
  .outerHero {
    padding: 0 4rem;
  }

  .introText {
    line-height: 3rem;
  }

  .introText h1 {
    font-size: 3rem;
  }

  .overlay.topLeft {
    top: 15%;
    left: 5%;
  }
}

@media (max-width: 768px) {
  .outerHero {
    padding: 0 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .introText {
    line-height: 2.25rem;
  }

  .introText h1 {
    font-size: 2.25rem;
  }

  .heroImage {
    min-height: 320px;
  }

  .overlay.topLeft {
    top: 5%;
    left: 2%;
  }
}
