.userlandScreen {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-image: url('bg_userland.png');
  background-size: cover;

  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorPage {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: calc(100vh - 3.5rem);
  overflow: hidden;
}

.composerPanel {
  min-height: 0;
  overflow-y: auto;
  padding: 2rem;
  border-right: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
