.overviewSection {
  padding: 1rem 10rem;
}

.overviewTitle {
  font-size: 3rem;
  font-weight: 400;
}

.overviewTitle span {
  font-family: 'InstrumentSerif', serif;
  font-size: 4rem;
  color: var(--orange);
}

@media (max-width: 768px) {
  .grid {
    gap: 1rem;
  }

  .newCard {
    width: 100%;
    max-width: 320px;
  }
}
