.outerFooter {
  padding: 0rem calc(20rem + 1px);
}

.innerFooter {
  display: flex;
  border: 1px solid var(--grey);
  border-top: none;
  border-bottom: none;
  padding: 3rem 2rem;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  .innerFooter {
    border: 1px solid var(--white);
    border-top: none;
    border-bottom: none;
  }

  .innerFooter p {
    color: var(--grey);
  }
}

@media (max-width: 1280px) {
  .outerFooter {
    padding: 0 calc(12rem + 1px);
  }
}

@media (max-width: 1024px) {
  .outerFooter {
    padding: 0 calc(6rem + 1px);
  }
}

@media (max-width: 768px) {
  .outerFooter {
    padding: 0 1.5rem;
  }

  .innerFooter {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
