.glassBubble {
  position: relative;
  padding: 1rem;
  background: #2a2a2aad;
  border-radius: 4rem;
  outline: none;
  border: none;
  z-index: 0;
  text-align: center;
  margin: 1.5rem;
}

.glassBubble::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: 4rem;
  overflow: hidden;
  -webkit-box-shadow:
    inset 2px 2px 0px -2px rgba(88, 88, 88, 0.7),
    inset 0 0 3px 1px rgba(82, 82, 82, 0.7);
  box-shadow:
    inset 2px 2px 0px -2px rgba(107, 107, 107, 0.7),
    inset 0 0 3px 1px rgba(81, 81, 81, 0.7);
  background-color: rgb(255 255 255 / 10%);
}

.glassBubble::after {
  content: '';
  position: absolute;
  border-radius: 4rem;
  z-index: -1;
  inset: 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-filter: url(#glass);
  filter: url(#glass);
  overflow: hidden;
  isolation: isolate;
}
