@font-face {
  font-family: 'Makira';
  src: url(/fonts/makira-regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Makira';
  src: url(/fonts/makira-medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Makira';
  src: url(/fonts/makira-semibold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Makira';
  src: url(/fonts/makira-bold.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Makira';
  src: url(/fonts/makira-extrabold.otf) format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Makira';
  src: url(/fonts/makira-black.otf) format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'InstrumentSerif';
  src: url(/fonts/InstrumentSerif-Italic.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'InconsolataBold';
  src: url(/fonts/Inconsolata-Bold.ttf) format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --main-bg-color-light: rgba(244, 243, 240, 1);
  --main-bg-color-dark: rgba(9, 9, 11, 1);

  --white: #d4d2cb;
  --button-hover: #bfbeb8;
  --white-hover: #a09f99;
  --grey: #5e5e5e;
  --black: #09090b;
  --orange: #c46225;
  --span-text: #7b7a73;
  --input-background-dark: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light dark;
  background-color: var(--main-bg-color-dark);
}

body {
  margin: 0;
  font-family: 'Makira', sans-serif;
}

button {
  font-family: 'Makira', sans-serif;
}
@media (prefers-color-scheme: light) {
  html:not([data-theme]) {
    color: var(--black);
    background-color: var(--main-bg-color-light);
  }
  p,
  h1,
  h2,
  h3 {
    color: var(--black);
  }
}

html[data-theme='light'] {
  border-color: var(--white);
  background-color: var(--main-bg-color-light);
}

html[data-theme='light'] p,
html[data-theme='light'] h1,
html[data-theme='light'] h2,
html[data-theme='light'] h3 {
  color: var(--black);
}

html[data-theme='dark'] {
  color: var(--white);
}
