.formContainer form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'InconsolataBold';
}

.formContainer input {
  padding: 1rem;
  border-radius: 0;
  border: 1px solid var(--grey);
  background-color: var(--input-background-dark);
  font-size: 1rem;

  text-transform: uppercase;
  transition: all 0.1s ease;
  width: 30vw;
}

.sortControls {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
}
